doctype html
html
  head
    meta(charset='UTF-8')
    |         
    title moltox
    |         
    style(type='text/css').
      body{background-color: #f6f6f6;font: 14px/1.5 "微软雅黑","宋体",Arial;color: #666;}
      .d1{margin: 70px auto 0px auto;width: 504px;}
      .p1{margin-left: 75px;margin-top: 15px;color:red;font-weight:bold;}
      .a1{text-decoration:none; display:inline-block;width:100px;height:40px;line-height:40px;text-align:center;
          background:#f00;color:#fff;font-size:16px;border-radius:5px;margin-left:150px;margin-top: 15px;}
  body
    .d1
      img(src='http://i0.letvimg.com/lc05_letvsports/201604/20/15/16/1461136594583.png')
      |             
      p.p1 #{error}
      a.a1(href="/molopt") 返回
