
**
node_modules/
!app.js
!bin/**
!computed/**
!www/**
!controllers
!controllers/*.js
!middlewares
!middlewares/**
!public
!public/**
!routes
!routes/**
!utils
!utils/**
!views
!views/**
!config.js
!user.sql
!package.json
