
**
node_modules/
!app.js
!bin/**
!computed/**
!www/**
!controllers
!controllers/*.js
!middlewares
!middlewares/**
!public
!public/**
public/static
public/static/**
public/static2
public/static2/**
public/upload
public/upload/**
!routes
!routes/**
!utils
!utils/**
!views
!views/**
!pm2.service.config.json
!package.json
!README.md
