doctype html
html
  head
    meta(charset='UTF-8')
    |         
    title 404
    |         
    style(type='text/css').
      body{background-color: #f6f6f6;font: 14px/1.5 "微软雅黑","宋体",Arial;color: #666;}
      .d1{margin: 70px auto 0px auto;width: 504px;}
      .p1{margin-left: 75px;margin-top: 15px;}
      .a1{padding: 0px 5px;color: #0086ee;}
      .a1:hover{text-decoration: none;}
  |         
  |     
  body
    .d1
      img(src='http://i0.letvimg.com/lc05_letvsports/201604/20/15/16/1461136594583.png')
      |             
      p.p1
        | &#x522B;&#x7740;&#x6025;&#xFF0C;&#x70B9;&#x51FB;
        a.a1(href='../') &#x8FD9;&#x91CC;
        | &#x51FA;&#x53BB;&#x8F6C;&#x8F6C;&#xFF0C;&#x4E00;&#x4F1A;&#x513F;&#x89C1;
        p #{error}
