doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
  html.no-js.lt-ie9.lt-ie8  
//if IE 8
  html.no-js.lt-ie9  
// [if gt IE 8] <!
|  
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title drug server | ecnu
    meta(name='keyword',content='drug design,ecnu,changgeJi')         
    meta(name='description', content='this is a web server for calculate molecular drug property')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    link(rel="stylesheet", href="/stylesheets/common/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/pc/main.css')
  body
    block content
    // script mark here
    script(src='/javascripts/vendor/jquery.min.js')       
    script(src='/javascripts/vendor/bootstrap.min.js')
    script(src='/javascripts/vendor/jquery.form.min.js') 
    block scripts
