extends ./layouts/layout

block content
  // MAIN CONTENT
  .container
    .hero-unit
      h2 Welcome to In silico Bioisosteric Replacement and Scaffold Hopping System 
    .hero-unit
      h3 How to use MolOpt
      h2
      p  Under Construction ...





    .hero-unit
      h3 Contact
      h2     
      p If you have any question about MolOpt, please contact:
      p Changge Ji 
      p Chicago.ji@gmail.com



block scripts
  
