extends ./layouts/layout

block content
  // MAIN CONTENT
  .container
    .hero-unit
      h2 Welcome to In silico Drug Design System
    .hero-unit
      h3  
        li: a(href='https://xundrug.cn/moltox') eMolTox
      h2
      p eMolTox is a webserver for toxicity prediction and drug safety analysis. 
    .hero-unit
      h3  
        li: a(href='https://xundrug.cn/molgpka') MolGpKa
      h2
      p MolGpKa is a webserver for pKa prediction using Graph-Convolutional Neural Network. 
    .hero-unit
      h3
      h3  
        li: a(href='https://xundrug.cn/molopt') MolOpt
      h2
      p MolOpt is a webserver for hit/lead optimization using bioisosteric transformation. 

    .hero-unit
      h3
      h3  
        li: a(href='https://xundrug.cn/fragrep') FragRep
      h2
      p FragRep is a web server for structure-based drug design by fragment replacement. 

    .hero-unit
      h3 Contact
      h2     
      p If you have any question or comments, please contact:
      p Changge Ji 
      p Chicago.ji@gmail.com



block scripts
  
