extends ./layouts/layout

block content
  // MAIN CONTENT
  .container
    .hero-unit
      h2 Welcome to In silico Drug Design System
    .hero-unit
      h3  eMolTox
      h2
      p eMolTox is a webserver for toxicity prediction. 
      h3
      h3  MolOpt
      h2
      p Under construction ... 
        MolOpt is a webserver for lead optimization. 



    .hero-unit
      h3 Contact
      h2     
      p If you have any question or comments, please contact:
      p Changge Ji 
      p Chicago.ji@gmail.com



block scripts
  
