extends ./layouts/layout

block content
  // MAIN CONTENT
  .container
    .hero-unit
      h2 Welcome to In silico Drug Design System
    .hero-unit
      h3  eMolTox
      h2
      p MolTox is a webserver for the prediction of potential toxicity a given molecule is likely to have. MolTox implements state-of-the-art machine learning methods, predicts and displays a wealthy information of molecular potential toxic properties and similar known toxic compound information for safety analysis in drug development. Paper about moltox is still under review.
      h3
      h3  MolOpt
      h2
      p MolOpt is a webserver for lead optimization. 



    .hero-unit
      h3 Contact
      h2     
      p If you have any question or comments, please contact:
      p Changge Ji 
      p Chicago.ji@gmail.com



block scripts
  
