extends ./layouts/layout

block content
	// MAIN CONTENT
	.container
		.modal-dialog
			.modal-content
				.modal-header
					h2.text-primary Find password
				.modal-body
					if error
						.text-error(style='margin-bottom:10px;') #{error}
					if success
						.text-success(style='margin-bottom:10px;') #{success}
						a.btn.btn-primary.btn-lg(href='/') Back
					else
						form#loginForm.form.col-md-12.center-block(action="/search_pass", method='post')
							#accountDiv.form-group-lg
								label.sr-only(for='inputAccount', style='display:inline-block;vertical-align:3px;margin-right:15px;') Email:
								input#inputAccount.form-control(name='email', type='text', placeholder='email', required='', autofocus='')
							p.text-left.muted Please fill in the email when you register your account!
							.form-group
								button#btn_login.btn.btn-primary.btn-lg(type='submit') Submit
					
block scripts