extends ./layouts/layout

block content
  // MAIN CONTENT
  .container
    .hero-unit
      h2 Welcome to In silico Bioisosteric Replacement System 
    .hero-unit
      h3 How to use MolOpt
      h2
      p  1. On the xundrug.cn/molopt website, input a molecule and then click one of the button in 'Replace method' box. 
      p     
      h2
         img(src='/pkcsm/static/img/molopt_1.png', style='border: none;', width='1000')
      p  2. The system detected all replacable substructures on the input molecule. Please select the substructure you want to optimize and click 'Submit' button and wait for two minitues.
      p    

      h2
         img(src='/pkcsm/static/img/molopt_2.png', style='border: none;', width='1000')
      p  3. The system find suitable bioisosteric groups and assemble new molecule. The result page show information on newly generated analogues.
      p     
      h2
         img(src='/pkcsm/static/img/molopt_3.png', style='border: none;', width='1000')



    .hero-unit
      h3 Contact
      h2     
      p If you have any question about MolOpt, please contact:
      p Changge Ji 
      p Chicago.ji@gmail.com



block scripts
  
